# Python: the basics

**Goal**: create and display values for variables and lists.

## Variables: create and display a variable

To create a variable, you have to give a variable name and a value. The name of the variable must be on the left and the value must be on the right.

In [1]:
days = 365
days

365

To have more meaningful names, you can use the **underscore** symbol.

In [2]:
number_days = 365

In [3]:
day_1 = 365
day_2 = 366

In [4]:
days = 366
days

366

In [5]:
spain = 95
france = 82
canada = 75

The display of variables can be done with the **print()** function.

In [6]:
print(spain)

95

In [7]:
print(france)

82

In [8]:
print(canada)

75

In [9]:
print(spain, france, canada)

95 82 75

## Variables: data types

Like all other languages, Python has different types of data: integers, floats, string, etc.

In [10]:
# integer
france = 123

To display the type of a variable, we use the **type()** function.

In [11]:
france_type = type(france)
print(france_type)

<class 'int'>

In [12]:
# float 
france_exact= 122.5
print(type(france_exact))

<class 'float'>

In [13]:
hello = 'Hello'
hello_world = "Hello World!"

In [14]:
print(hello)

Hello

In [15]:
print(type(hello))

<class 'str'>

In [16]:
# boolean
true_type = True
false_type = False

In [17]:
print(true_type)

True

In [18]:
print(type(true_type))

<class 'bool'>

It is also possible to convert data from one format to another. For example, to convert an integer to a string, you can use the **str()** function.

In [19]:
two_int = 2
two_in_str = str(two_int)
print (two_in_str)

2

In [20]:
print(type(two_in_str))

<class 'str'>

The reverse conversion is done by using the **int()** function.

In [21]:
two_str = "2"
two_in_int = int(two_str)
print(two_in_int)

2

In [22]:
print(type(two_in_int))

<class 'int'>

## Operations with variables

An important point of data science is to perform operations with numerical values. There are operations of **addition**, **multiplication**, **subtraction**, etc.

In [23]:
# addition
sum = 30 + 49
print(sum)

79

In [24]:
spain = 95
france = 82
sum_france_spain = spain + france
print(sum_france_spain)

177

In [25]:
# power and square
square = 5
squared = square ** 2
print(squared)

25

In [26]:
double_france = france * 2
print(double_france)

164

In [27]:
# division
divide_france = france / 2
print(divide_france)

41.0

In [28]:
# subtraction
subtract_france_spain = france - spain
print(subtract_france_spain)

-13

In [29]:
# example
france_celsius = (france - 32) * 0.56
spain_celsius = (spain - 32) * 0.56
print(france_celsius)
print(spain_celsius)

28.000000000000004
35.28

## List creation

Lists are among the most commonly used data structures in data science.

In [30]:
months = []

In [31]:
# append() method is used to add element in the list
months.append("January")
months.append("February")
print(months)

['January', 'February']

In [32]:
print(type(months))

<class 'list'>

In [33]:
months = []
months.append(1)
months.append("January")
months.append(2)
months.append("February")

In [34]:
months

[1, 'January', 2, 'February']

It is possible to create a list directly with values.

In [35]:
months = [1, "January", 2, "February", 3, "March"]
months

[1, 'January', 2, 'February', 3, 'March']

In [36]:
temperatures = ["France", 122.5, "Spain", 124.0]

In [37]:
temperatures.append("United States")
temperatures.append(134.1)
print(temperatures)

['France', 122.5, 'Spain', 124.0, 'United States', 134.1]

## Retrieve a value from a list

To retrieve the values of a list, you have to use the **indexes** starting from 0.

In [38]:
years = [2013, 2014, 2015, 2016, 2017]
first_value = years[0]
second_value = years[1]
last_value = years[4]

In [39]:
print(first_value)
print(last_value)

2013
2017

## Return the length of a list

The length of a list represents the number of elements in a list. To retrieve it, we use the **len()** function.

In [40]:
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lenght_months = len(months)
print(lenght_months)

12

To retrieve the last value of a list, we use the following method.

In [41]:
months_last_value_pos = len(months) - 1
months_last_value = months[months_last_value_pos]
print(months_last_value)

12

## Retrieve items from a list (slicing)

In [42]:
months = ["January", "February", "March", "April", "May", "June", "July", 
          "August", "September", "October", "November", "December"]

In [43]:
# Positions 4 and 5: May and June
months_slicing_1 = months[4:6]
print(months_slicing_1)

['May', 'June']

In [44]:
# Values from position 5 (index 5)
# First method
months_slicing_2 = months[5:len(months)]
print(months_slicing_2)

['June', 'July', 'August', 'September', 'October', 'November', 'December']

In [45]:
# Values from position 5 (index 5)
# Second method
months_slicing_2 = months[5:]
print(months_slicing_2)

['June', 'July', 'August', 'September', 'October', 'November', 'December']

## Training

In [46]:
countries = ["France", "Spain", "United States", "Canada", "Australia", "Argentina"]
temperatures = [122.5, 124.0, 134.1, 105.2, 112.5, 128.3]

For the list of countries above, display the first 3 country values.

In [47]:
countries_slice = countries[0:3]
print(countries_slice)

['France', 'Spain', 'United States']

Display the last 4 values of the temperature list.

In [48]:
temperatures_slice = temperatures[len(temperatures)-4:]
print(temperatures_slice)

[134.1, 105.2, 112.5, 128.3]