# Python: Files and loops

**Goal**: 

* Open and read a file in a list
* Use loops
* Create and explore lists
* Real case: datasets of French departments

## Open and read a file

### Opening a file

To open a file, we use the **open()** function.

In [1]:
# use open() function
open("python.txt", "r")

In [2]:
f = open("python.txt", "r")
print(f)

<_io.TextIOWrapper name='python.txt' mode='r' encoding='cp1252'>

### Reading a file

In [3]:
# use read() method
g = f.read()
print(g)

I read my first file!!!

### Training

We will read a csv file named **departements_fr.csv** and display it.

In [4]:
f = open("departements_fr.csv", "r")
data = f.read()
print(data[0:108])

Ain,643309
Aisne,554040
Allier,353262
Alpes-de-Haute-Provence,166298
Alpes-Maritimes,1098785
Ardèche,332051

## Separation of elements

### Creating a list from a string

In [5]:
type(data)

str

In [6]:
# split()
names = "Goku,Gohan,Goten"
split_names = names.split(",")
print(split_names)

['Goku', 'Gohan', 'Goten']

### Training

Use the separator **\n** to convert data to a list and display the first 5 elements.

In [7]:
rows = data.split("\n")
print(rows[0:5])

['Ain,643309', 'Aisne,554040', 'Allier,353262', 'Alpes-de-Haute-Provence,166298', 'Alpes-Maritimes,1098785']

## Loops

In [8]:
nouns = ["Niang", "Diop", "Pene"]

for noun in nouns:
    print(noun)

Niang
Diop
Pene

### Training

Using a loop, display the first 10 elements of the rows list.

In [9]:
ten_rows = rows[0:10]

for row in ten_rows:
    print(row)

Ain,643309
Aisne,554040
Allier,353262
Alpes-de-Haute-Provence,166298
Alpes-Maritimes,1098785
Ardèche,332051
Ardennes,287775
Ariège,158076
Aube,316098
Aude,375065

## List of lists

In [10]:
ai_levels = ["Karpathy,100", "Lecun,102", "Hinton,110"]

final_result = []

for ai_level in ai_levels:
    split_level = ai_level.split(",")
    final_result.append(split_level)
    
print(final_result)

[['Karpathy', '100'], ['Lecun', '102'], ['Hinton', '110']]

In [11]:
print(final_result[0])
print(final_result[1])
print(final_result[2])

['Karpathy', '100']
['Lecun', '102']
['Hinton', '110']

### Training

Using a loop and the **split()** method, separate the elements of the dataset as a list and display the first 5 elements.

In [12]:
final_data = []

for row in rows:
    split_list = row.split(',')
    final_data.append(split_list)
    
print(final_data[0:5])

[['Ain', '643309'], ['Aisne', '554040'], ['Allier', '353262'], ['Alpes-de-Haute-Provence', '166298'], ['Alpes-Maritimes', '1098785']]

## Retrieve and display items from a list of lists

In [13]:
# First method
first_list = final_data[0]
print(first_list)

['Ain', '643309']

In [14]:
first_list_first_value = first_list[0]
print(first_list_first_value)

Ain

In [15]:
# Second method
first_list_first_value = final_data[0][0]
print(first_list_first_value)

Ain

In [16]:
second_list_first_value = final_data[1][0]
print(second_list_first_value)

Aisne

In [17]:
second_list_second_value = final_data[1][1]
print(second_list_second_value)

554040

### Loop through a list of lists

In [18]:
# First method with departments
first_five_elements = final_data[0:5]

departments_list = []

departments_list.append(first_five_elements[0][0])
departments_list.append(first_five_elements[1][0])
departments_list.append(first_five_elements[2][0])
departments_list.append(first_five_elements[3][0])
departments_list.append(first_five_elements[4][0])

print(departments_list)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes']

In [19]:
# Second method with populations
department_populations = []

for row in first_five_elements:
    department_population = row[1]
    department_populations.append(department_population)
    
print(department_populations)

['643309', '554040', '353262', '166298', '1098785']

### Training

Put in a new list departments_list the name of all departments of final_data.

In [20]:
departments_list = []

for row in final_data:
    departments_list.append(row[0])
    
print(departments_list)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège', 'Aube', 'Aude', 'Aveyron', 'Bas-Rhin', 'Bouches-du-Rhône', 'Calvados', 'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze', 'Corse-du-Sud', "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Deux-Sèvres', 'Dordogne', 'Doubs', 'Drôme', 'Essonne', 'Eure', 'Eure-et-Loir', 'Finistère', 'Gard', 'Gers', 'Gironde', 'Guadeloupe', 'Guyane', 'Haute-Corse', 'Haute-Garonne', 'Haute-Loire', 'Haute-Marne', 'Hautes-Alpes', 'Haute-Saône', 'Haute-Savoie', 'Hautes-Pyrénées', 'Haute-Vienne', 'Haut-Rhin', 'Hauts-de-Seine', 'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère', 'Jura', 'La Réunion', 'Landes', 'Loire', 'Loire-Atlantique', 'Loiret', 'Loir-et-Cher', 'Lot', 'Lot-et-Garonne', 'Lozère', 'Maine-et-Loire', 'Manche', 'Marne', 'Martinique', 'Mayenne', 'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre', 'Nord', 'Oise', 'Orne', 'Paris', 'Pas-de-Calais', 'Puy-de-Dôme', 'Pyrénées-Atlantiques', 'Pyrénées-Orientales', 'Rhône', 'Saône-et-Loire', 'Sarthe', 'Savoie', 'Seine-et-Marne', 'Seine-Maritime', 'Seine-Saint-Denis', 'Somme', 'Tarn', 'Tarn-et-Garonne', 'Territoire de Belfort', 'Val-de-Marne', "Val-d'Oise", 'Var', 'Vaucluse', 'Vendée', 'Vienne', 'Vosges', 'Yonne', 'Yvelines']

## Challenge

Create a list of integers containing the number of residents of all French departments.

In [21]:
int_dep_populations = []

for row in final_data:
    int_dep_populations.append(int(row[1]))
                               
print(int_dep_populations)

[643309, 554040, 353262, 166298, 1098785, 332051, 287775, 158076, 316098, 375065, 289901, 1131812, 2035475, 708407, 152400, 366787, 656046, 318590, 249684, 154100, 545001, 617413, 124948, 384655, 428651, 549155, 514104, 1286908, 616076, 445083, 935393, 752382, 197988, 1556663, 406706, 254845, 175499, 1344579, 234078, 186698, 145213, 246022, 806447, 236577, 384708, 775941, 1617484, 1127333, 1060051, 232802, 619004, 1271938, 270826, 541487, 414090, 774262, 1382766, 688098, 344121, 180016, 343198, 80423, 829156, 518322, 584297, 390252, 317716, 746687, 197763, 764338, 1065894, 221048, 2640622, 838646, 297109, 2243739, 1497668, 661248, 688451, 474842, 1833002, 574229, 583961, 440777, 1400477, 1284107, 1582139, 583641, 396341, 258696, 147647, 1377511, 1221946, 1055745, 566592, 681469, 444347, 386978, 352433, 1449398]

In [22]:
print(type(int_dep_populations[0]))

<class 'int'>