# Python: Booleans and IF Conditions

Goals:

* interest of booleans
* The IF condition
* Associating IF and FOR
* Real case : dataset of French departments

## Booleans and Operators

In [1]:
# Operator ==
print(1 == 1)
print(6 == 8)

True
False

In [2]:
# Operator !=
print(5 != 5)
print(3 != 9)

False
True

In [3]:
# Operator > (>=) 
print(5 > 5)
print(7 >= 3)

False
True

In [4]:
# Operator < (<=)
print(9 <= 8)
print(8 < 10)

False
True

In [5]:
# With an variable
x = (3 != 3)
print(x)

False

In [6]:
# With an list
print(["Dog", "Cat"] == ["Cat", "Dog"])
print(["Dog", "Cat"] == ["Dog", "Cat"])

False
True

In [7]:
# With a floating variable
print(5.0 == 5.0)

True

In [8]:
# Upload dataset for training
f = open("departements_fr.csv", "r")
data = f.read()
rows = data.split('\n')

departments = []
int_dep_populations = []

for row in rows:
    values = row.split(',')
    departments.append(values[0])
    int_dep_populations.append(int(values[1]))

In [9]:
print(departments)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège', 'Aube', 'Aude', 'Aveyron', 'Bas-Rhin', 'Bouches-du-Rhône', 'Calvados', 'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze', 'Corse-du-Sud', "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Deux-Sèvres', 'Dordogne', 'Doubs', 'Drôme', 'Essonne', 'Eure', 'Eure-et-Loir', 'Finistère', 'Gard', 'Gers', 'Gironde', 'Guadeloupe', 'Guyane', 'Haute-Corse', 'Haute-Garonne', 'Haute-Loire', 'Haute-Marne', 'Hautes-Alpes', 'Haute-Saône', 'Haute-Savoie', 'Hautes-Pyrénées', 'Haute-Vienne', 'Haut-Rhin', 'Hauts-de-Seine', 'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère', 'Jura', 'La Réunion', 'Landes', 'Loire', 'Loire-Atlantique', 'Loiret', 'Loir-et-Cher', 'Lot', 'Lot-et-Garonne', 'Lozère', 'Maine-et-Loire', 'Manche', 'Marne', 'Martinique', 'Mayenne', 'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre', 'Nord', 'Oise', 'Orne', 'Paris', 'Pas-de-Calais', 'Puy-de-Dôme', 'Pyrénées-Atlantiques', 'Pyrénées-Orientales', 'Rhône', 'Saône-et-Loire', 'Sarthe', 'Savoie', 'Seine-et-Marne', 'Seine-Maritime', 'Seine-Saint-Denis', 'Somme', 'Tarn', 'Tarn-et-Garonne', 'Territoire de Belfort', 'Val-de-Marne', "Val-d'Oise", 'Var', 'Vaucluse', 'Vendée', 'Vienne', 'Vosges', 'Yonne', 'Yvelines']

In [10]:
print(int_dep_populations)

[643309, 554040, 353262, 166298, 1098785, 332051, 287775, 158076, 316098, 375065, 289901, 1131812, 2035475, 708407, 152400, 366787, 656046, 318590, 249684, 154100, 545001, 617413, 124948, 384655, 428651, 549155, 514104, 1286908, 616076, 445083, 935393, 752382, 197988, 1556663, 406706, 254845, 175499, 1344579, 234078, 186698, 145213, 246022, 806447, 236577, 384708, 775941, 1617484, 1127333, 1060051, 232802, 619004, 1271938, 270826, 541487, 414090, 774262, 1382766, 688098, 344121, 180016, 343198, 80423, 829156, 518322, 584297, 390252, 317716, 746687, 197763, 764338, 1065894, 221048, 2640622, 838646, 297109, 2243739, 1497668, 661248, 688451, 474842, 1833002, 574229, 583961, 440777, 1400477, 1284107, 1582139, 583641, 396341, 258696, 147647, 1377511, 1221946, 1055745, 566592, 681469, 444347, 386978, 352433, 1449398]

### Training 1

Let's use Boolean operators to determine equivalences on the department variable.

In [11]:
first_ain = (departments[0] == "Ain")
second_ain = (departments[1] == "Ain")
first_last = (departments[0] == departments[len(departments) - 1])

print(first_ain)
print(second_ain)
print(first_last)

True
False
False

### Training 2

Let's make comparisons on the variable int_dep_populations.

In [12]:
first_500000 = (int_dep_populations[0] > 500000)
first_650000 = (int_dep_populations[0] > 650000)
first_last = (int_dep_populations[0] >= int_dep_populations[len(int_dep_populations) - 1])

print(first_500000)
print(first_650000)
print(first_last)

True
False
False

## The IF condition

In [13]:
# Example 1
age = 55
greater = (age > 35)

if greater:
    print(age)

55

In [14]:
# Example 2
if age > 35:
    print(age)

55

In [15]:
# Example 3
value = 1000

if value > 100:
    if value > 500:
        print("This number is greater than 500!")

This number is greater than 500!

### Training 1

In [16]:
result = 0

if departments[5] == "Ardèche":
    result = 1
    
print(result)

1

### Training 2

In [17]:
both_conditions = False

if int_dep_populations[0] > 600000:
    if int_dep_populations[1] > 300000:
        both_conditions = True 
        
print(both_conditions)

True

## IF condition and FOR loop

In [18]:
# Example 1
found = False

for dep in departments:
    if dep == "Paris":
        found = True

if found:
    print("Paris is in the list of departments!")

Paris is in the list of departments!

In [19]:
# Example 2
counter = 0
index = 0

for dep in departments:
    if dep == "Paris":
        index = counter
    counter += 1
    
print(index)
print(counter)

75
100

### Training

In [20]:
million_list = []

for pop in int_dep_populations:
    if pop > 1000000:
        million_list.append(pop)
        
print(million_list)

[1098785, 1131812, 2035475, 1286908, 1556663, 1344579, 1617484, 1127333, 1060051, 1271938, 1382766, 1065894, 2640622, 2243739, 1497668, 1833002, 1400477, 1284107, 1582139, 1377511, 1221946, 1055745, 1449398]

## Challenge

Statement 1:

* Read the file 'unisex_names.csv
* Assign this string to the variable names
* Convert names to a list (split() method)
* Assign the result to the variable name_list
* Display the first 10 elements

In [21]:
f = open("unisex_names.csv", "r")
names = f.read()
names_list = names.split('\n')
print(names_list[0:10])

['Casey,176544.328149', 'Riley,154860.665173', 'Jessie,136381.830656', 'Jackie,132928.78874', 'Avery,121797.419516', 'Jaime,109870.18729', 'Peyton,94896.395216', 'Kerry,88963.92625', 'Jody,80400.519199', 'Kendall,79210.873961']

Statement 2:

* Create an empty list names_data
* Write a loop that conveys our list into a list of lists

In [22]:
names_data = []

for name in names_list:
    comma_list = name.split(',')
    names_data.append(comma_list)
    
print(names_data[0:5])

[['Casey', '176544.328149'], ['Riley', '154860.665173'], ['Jessie', '136381.830656'], ['Jackie', '132928.78874'], ['Avery', '121797.419516']]

Statement 3:

* Create a new numerical_list
* Write a loop that converts 'numbers' to decimal numbers

In [23]:
numerical_list = []

for row in names_data:
    name = row[0]
    decimal_numbers = float(row[1])
    new_list = [name, decimal_numbers]
    numerical_list.append(new_list)

print(numerical_list[0:5])

[['Casey', 176544.328149], ['Riley', 154860.665173], ['Jessie', 136381.830656], ['Jackie', 132928.78874], ['Avery', 121797.419516]]

Statement 4:

* Create an empty list final_list
* Write a loop that keeps only the names shared by at least 1000 people
* Display the first 10 elements of final_list

In [24]:
final_list = []

for row in numerical_list:
    name = row[0]
    number = row[1]
    if number >= 1000:
        final_list.append([name, number])
        
print(final_list[0:10])

[['Casey', 176544.328149], ['Riley', 154860.665173], ['Jessie', 136381.830656], ['Jackie', 132928.78874], ['Avery', 121797.419516], ['Jaime', 109870.18729], ['Peyton', 94896.395216], ['Kerry', 88963.92625], ['Jody', 80400.519199], ['Kendall', 79210.873961]]